<div id="<%= dom_id home_post %>" class="m-2">
  <p>
    <%= home_post.title %>
  </p>

  <p>
    <%= home_post.description %>
  </p>

  <% home_post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: contains; width: 95%; height: auto") %> 
  <% end %>

</div>
