<h1>Editing home post</h1>

<%= render "form", home_post: @home_post %>

<br>

<div class="">
  <%= link_to "Show this home post", @home_post %> |
  <%= link_to "Back to home posts", home_posts_path %>
</div>
