<div class="d-flex justify-content-evenly">
<div>


  <div id="home_posts" class="mb-5">
    <% @home_posts.each do |home_post| %>
      <%= render home_post %>

    <% end %>
  </div>


</div>
</div>