<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-brand mb-0 h1">Welcome to the Club Manager</span>
  </div>
</nav>